{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

<h1>Tareas</h1>



    {% if lista_ultimas_tareas %}
        <ul>
        {% for tarea in lista_ultimas_tareas %}
            <div id="bloque">
                <a id="titulo" "/polls/{{ tarea.id }}/">Título: </a>
                <a>{{ tarea.titulo }}</a>
                <br>
                <a id="descripcion" "/polls/{{ tarea.id }}/">Descripción: </a>
                <a>{{ tarea.descripcion }}</a>
                <br>
                <a id="asignada"  >Persona asignada a la tarea:</a>
                <a "/polls/{{ tarea.id }}/">{{ tarea.persona_asignada }}</a>
                <br>

                <i class="fa fa-envelope" style="font-size:36px"></i>

                <a id="email" href= mailto:{{tarea.persona_asignada.email}}>{{ tarea.persona_asignada.email }}</a>

             </div>
            <br>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}


</body>

</html>

